/* Exercise 1 */

.ex-1-square {
  transition: background-color 2s linear;
}

.ex-1-square:hover {
  background-color: red;
}

/* Exercise 2 */
.ex-2-square {
  transition: width 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* Exercise 3 */
.ex-3-square {
  transition: border-radius 1s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/*Exercise 3*/
.ex-4-square {
  transition: opacity 2s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* Exercise 5 */
.ex-5-square {
  transition: transform 2s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* Exercise 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* Exercise 7*/
.ex-7-img {
  transition: filter 2s;
}

.ex-7-img:hover {
  filter: sepia(0.5) grayscale(0.5);
}

/* Exercise 8 */
.ex-8-img {
  transition: all 2s;
}

.ex-8-img:hover {
  border-radius: 20px;
  filter: sepia(0.5) grayscale(0.5);
}

/* Exercise 9 */
.ex-9-img {
  transition: all 2s;
}

.ex-9-img:hover {
  transform: scale(1.5);
  border-radius: 20px;
  filter: sepia(0.5) grayscale(0.5);
}


/* Exercise 10 */
.ex-10-icon {
  animation-name: loading-effect;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes loading-effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Exercise 12 */
.ex-11-icon:hover {
  animation-name: loading-effect-2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes loading-effect-2 {
  0% {
    transform: rotate(0deg);
  }

  90% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
